# Binaries for programs and plugins
bin/

# ignore docker dirs
./avatars/

# Output of the go coverage tool
coverage.out

# Test binaries
*.test

# Build directories
/build/
/dist/

# Dependency directories
vendor/
pkg/

# Go workspace files
go.work
go.work.sum

# Go module cache (optional)
/pkg/mod/

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

# ignore env vars
.env

# storage files
data/

.github/*.md