name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  unit-test-app:
    name: Flutter Unit Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'
          channel: 'stable'
      
      - name: Get Flutter dependencies
        working-directory: ./app
        run: flutter pub get
      
      - name: Analyze Flutter code
        working-directory: ./app
        run: flutter analyze --no-fatal-infos
      
      - name: Run Flutter tests
        working-directory: ./app
        run: flutter test

  unit-test-backend:
    name: Go Unit Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      
      - name: Get Go dependencies
        working-directory: ./backend
        run: go mod download

      - name: Run Go vet
        working-directory: ./backend
        run: go vet ./...
      
      - name: Run Go tests
        working-directory: ./backend
        run: go test -race -cover ./...